<!DOCTYPE html>
<html>
    <head>
        <title>Empresa</title>
    </head>

    <body>
        <h1>Añadir una empresa</h1>

        <form id="empresa_form" method="post" action="/empresas/add_empresa/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Crear Empresa" />
        </form>
    </body>

</html>
